body{
    background-image: url(assets/1920x1080-hd-nature-old-mountain-o3g4tz5qe34ij38f.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 300px;
    margin: 0px;
    font-size: clamp(15px, 20px, 30px);
    text-decoration: none;
}

h1{
    margin: auto;
    border: 3px black;
    border-style: solid;
    box-shadow: 3px 2px #07160d;
    border-radius: 10px;
    color: #6ee8a0;
    text-align: center;
    background: linear-gradient(to right, #0d2818, #04471c);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 600px

}

.content{
    color: #058c42;
    text-align: justify;
    background: linear-gradient(to right, #0d2818, #04471c);
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation-name: slideLeft;
    animation-duration: 2s;
    margin: 50px;
    padding: 10px;
    border: 3px black;
    border-style: solid;
    box-shadow: 3px 2px #07160d;
    border-radius: 10px;
    color: #6ee8a0;
}

.social-media {
    display: flex;
    justify-content: center;
    margin: 50px; 
}

#instagram {
    background-color: #0d2818;
    animation-name: slideUp;
    animation-duration: 2.5s;
    width: 64px;
    text-align: center;
    padding: 10px;
    border: 3px black solid;
    box-shadow: 3px 2px #07160d;
    border-radius: 10px;
    margin: 10px; /* Espaçamento entre os botões */
    transition: background-color 0.5s, opacity 0.5s;
}

#instagram:hover {
    background-color: #6ee8a0;
    opacity: 1; 
}

#greenpeace {
    background-color: #0d2818;
    animation-name: slideUp;
    animation-duration: 2.5s;
    width: 64px;
    text-align: center;
    padding: 10px;
    border: 3px black solid;
    box-shadow: 3px 2px #07160d;
    border-radius: 10px;
    margin: 10px;
    transition: background-color 0.5s, opacity 0.5s;
}

#greenpeace:hover {
    background-color: #6ee8a0;
    opacity: 1; 
}


@keyframes slideLeft{
    from{transform: translateX(-2000px)}

    to{transform: translateX(0)}
}

@keyframes slideUp{
    from{transform: translateY(2000px)}

    to{transform: translateY(0)}

}
